<div>
  <div class="www-layout">
    <section>
      <div class="gap no-gap signin whitish medium-opacity register">
        <div
          class="bg-image"
          style="background-image: url(assets/images/resources/theme-bg.jpg)"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="big-ghalta">
                <figure>
                  <img src="assets/images/logo2.png" alt="" />
                </figure>
                <h1>Welcome to the Social Media Network</h1>
                <p>
                  Pitnik is a social network that can be used to connect people.
                  We helps you connect and share with the people in your life.
                </p>
                <div class="barcode">
                  <figure>
                    <img src="assets/images/resources/Barcode.jpg" alt="" />
                  </figure>
                  <div class="app-download">
                    <span>Download Mobile App and Scan QR Code to login</span>
                    <ul class="colla-apps">
                      <li>
                        <a title="" href="https://play.google.com/store?hl=en"
                          ><img
                            src="assets/images/android.png"
                            alt=""
                          />android</a
                        >
                      </li>
                      <li>
                        <a
                          title=""
                          href="https://www.apple.com/lae/ios/app-store/"
                          ><img src="assets/images/apple.png" alt="" />iPhone</a
                        >
                      </li>
                      <li>
                        <a title="" href="https://www.microsoft.com/store/apps"
                          ><img
                            src="assets/images/windows.png"
                            alt=""
                          />Windows</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="reg-from">
                <span><i class="fa fa-lock"></i> Create an Account</span>
                <p>Its quick and Easy</p>
                <form
                  [formGroup]="formRegister"
                  class="c-form"
                  (submit)="register()"
                >
                  <div class="row merged10">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input
                        formControlName="name"
                        class="mb-2"
                        type="text"
                        placeholder="Name"
                        [ngClass]="{
                          'is-invalid': submitted && f['name'].errors,
                        }"
                      />
                      <div
                        *ngIf="submitted && f['name'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['name'].errors?.['required']">
                          Name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input
                        formControlName="email"
                        class="mb-2"
                        type="email"
                        placeholder=" Email "
                        [ngClass]="{
                          'is-invalid': submitted && f['email'].errors,
                        }"
                      />
                      <div
                        *ngIf="submitted && f['email'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['email'].errors?.['required']">
                          Email is required
                        </div>
                        <div *ngIf="f['email'].errors?.['email']">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input
                        formControlName="password"
                        class="mb-2"
                        type="password"
                        placeholder="Password"
                        [ngClass]="{
                          'is-invalid': submitted && f['password'].errors,
                        }"
                      />
                      <div
                        *ngIf="submitted && f['password'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['password'].errors?.['required']">
                          Password is required
                        </div>
                        <div *ngIf="f['password'].errors?.['minlength']">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input
                        formControlName="confirmPassword"
                        class="mb-2"
                        type="password"
                        placeholder="confirmPassword"
                        [ngClass]="{
                          'is-invalid':
                            submitted && f['confirmPassword'].errors,
                        }"
                      />
                      <div
                        *ngIf="submitted && f['confirmPassword'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['confirmPassword'].errors?.['required']">
                          confirmPassword is required
                        </div>
                        <div *ngIf="f['confirmPassword'].errors?.['mustMatch']">
                          Passwords must match
                        </div>
                      </div>
                    </div>

                    <label>date birth</label>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input
                        formControlName="dateBirth"
                        class="mb-2"
                        type="date"
                        placeholder="date of Birth"
                        [ngClass]="{
                          'is-invalid': submitted && f['dateBirth'].errors,
                        }"
                      />
                      <div
                        *ngIf="submitted && f['dateBirth'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['dateBirth'].errors?.['required']">
                          Date Birth is required
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                      <div class="gender mb-2">
                        <label>Gender</label>
                        <div class="form-radio">
                          <div class="radio">
                            <label>
                              <input
                                type="radio"
                                formControlName="gender"
                                value="male"
                                checked="checked"
                                [ngClass]="{
                                  'is-invalid': submitted && f['gender'].errors,
                                }"
                              /><i class="check-box"></i>Male
                              <div
                                *ngIf="submitted && f['gender'].errors"
                                class="invalid-feedback"
                              >
                                <div *ngIf="f['gender'].errors?.['required']">
                                  gender is required
                                </div>
                              </div>
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input
                                type="radio"
                                formControlName="gender"
                                value="female"
                                [ngClass]="{
                                  'is-invalid': submitted && f['gender'].errors,
                                }"
                              />
                              <i class="check-box"></i>Female
                              <div
                                *ngIf="submitted && f['gender'].errors"
                                class="invalid-feedback"
                              >
                                <div *ngIf="f['gender'].errors?.['required']">
                                  gender is required
                                </div>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-2"></div>
                    <div class="col-lg-8 col-md-6 mt-2">
                      <ul class="social-reg">
                        <li>
                          <button [routerLink]="['/']" routerLinkActive="router-link-active"  type="button" (click)="resetForm()">
                            cancel
                          </button>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-2">
                      <button type="submit">Signup</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
