
<li class="post-comment">
    <div class="comet-avatar">
        <!-- <img src="http://localhost:3200/getfile/{{currentUser.image}}" alt=""> -->
        <img src="assets/images/resources/nearly1.jpg" alt="userConnect">
    </div>
    <div class="post-comt-box">
        
        <form method="post">
            <textarea placeholder="Post your comment" [(ngModel)]="text" name="text"></textarea>
           </form>	
           <button class="btn new-poxtbox post-btn" class="active"(click)="addComment()"> add</button>
    </div>
</li>
