.new-postbox .post-btn {
  background-color: #23d2e2 !important;
  border: none #23d2e2 !important; 
  border-radius: 5px;
  font-weight: 500;
  margin-top: 11px;
  padding: 5px;
  width: 100%;
  transition: all 0.2s linear 0s;
}
