<li class="post-comment">
  <div class="comet-avatar">
     <img  crossOrigin ="anonymous" alt="author" src="{{urlImage}}/{{user.photo}}" alt="userConnect">
  </div>
  <div class="post-comt-box">
    <form>
      <textarea
        placeholder="Post your comment"
        [(ngModel)]="text"
        style="background-color: aliceblue !important;"
        name="text"
      ></textarea>
    </form>
    <div class="d-flex justify-content-end">
      <button
      style="border-radius: 5px; background-color: #23D2E2;border-color:#23D2E2; font-weight: bold; color: whitesmoke;"
      (click)="addComment()"
      > add Comment
    </button>
    </div>
  </div>

</li>
