.new-postbox .post-btn {
    background: #23d2e2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    margin-top: 11px;
    padding: 5px;
    width: 100%;
    transition: all 0.2s linear 0s;
}