.color {
    background-color: white;
    height: 8cm;
  }
  #pagination {
    margin: 0;
    padding: 0;
    text-align: center
  }
  #pagination li {
    display: inline
  }
  #pagination li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #000
  }
  #pagination li a {
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s
  
  }
  #pagination li a.active {
    background-color: rgb(96, 176, 226);
    color: #fff
  }
  #pagination li a:hover:not(.active) {
    background-color: #ddd;
  }  