<div class="container">
  <h4 class="widget-title">Suggestions</h4>
  <div *ngIf="follows && follows.length == 0" class="col-lg-12 no-publications">
    <h6 class="text-center">No Users <i></i>.</h6>
  </div>

  <ul
    class="followers ps-container ps-theme-default ps-active-y"
    data-ps-id="2a88fe49-853c-35b6-5b5e-862074616e84"
    *ngFor="let user of follows"
  >
    <li>
      <figure>
        <!-- <img src="http://localhost:3200/getfile/{{ user?.image }}" alt="" /> -->
        <img src="assets/images/resources/admin.jpg" alt="follow" class="src" />
      </figure>
      <div class="friend-meta">
        <h4>
          <a [routerLink]="['/profile', user?._id]">{{ user?.name }}</a>
        </h4>
        <a (click)="addFollow(user)" class="text-bold underline">Subscribe</a>
      </div>
    </li>

    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -30px">
      <div
        class="ps-scrollbar-x"
        tabindex="0"
        style="left: 0px; width: 0px"
      ></div>
    </div>
    <div
      class="ps-scrollbar-y-rail"
      style="top: 30px; height: 260px; right: 0px"
    >
      <div
        class="ps-scrollbar-y"
        tabindex="0"
        style="top: 27px; height: 233px"
      ></div>
    </div>
  </ul>
</div>
