<div class="loading" *ngIf="loading">
  <img src="assets/images/lg.dual-ring-loader.gif" />
</div>
<div *ngIf="posts && posts.length == 0" class="d-flex justify-content-center no-publications bg-light py-5"> 
    no  posts.
</div>
<div id="publications" *ngIf="posts && posts.length > 0"> 
<div class="d-flex justify-content-center row my-3" *ngFor="let post of posts; index as i">
      <div class="col-md-12">
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2">
                <div class="more">
                  <div class="more-post-optns" *ngIf="post.user._id==userId">
                    <i class="ti-more-alt"></i>
                    <ul>
                                          <li>
                                              <i class="fa fa-pencil-square-o"></i>
                                              <a (click)="onEdit(post,contentEdit)" type="button" data-toggle="modal" data-target="#exampleModal">
                                                  Edit Post</a>
                                          </li>
                                          <li>
                                              <i class="fa fa-trash"></i>
                                              <a (click)="onDelete(post)" type="button">
                                                  Delete Post</a>
                                          </li>
  
                                          <li class="bad-report">
                                              <i class="fa fa-flag"></i>Report Post
                                          </li>
                    </ul>
                  </div>
                </div>
                <div class="d-flex flex-row user-info">
                    <!-- <img  crossOrigin ="anonymous" alt="author" src="{{urlImage}}/{{post.user.photo}}"> -->
                    <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                    <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{post.user.name}}</span><span class="date text-black-50" style="font-weight: bolder;">Shared publicly - {{ post?.createdAt | date: 'short' }} </span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text"> 
                        {{post.description}}
                        </p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor" (click)="toggleLike(post)" > <i class="fa fa-thumbs-o-up" [ngStyle]="{'color': post?.likedByMe? 'red': 'gray',}" [ngClass]="post?.likedByMe ? 'fa-thumbs-o-up' : 'fa-thumbs-o-down'"></i><span class="ml-1">  {{ post?.likedByMe ? post?.likeCount : '' }} {{ post?.likedByMe ? 'Like' : 'unLike' }}</span></div>
                      <div class="like p-2 cursor" (click)="toggleComment(i)" ><i class="fa fa-commenting-o"></i> <ins class="comment-icon ml-1">{{ post?.comments?.length }}</ins><span class="ml-1">Comment</span></div> 
                      <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                  </div>
              </div>
              <app-comment-create
                      (createComment)="handleChange($event)"
                      [post]="post"
              ></app-comment-create> 
              <app-list-comment *ngIf="showPost[i]"
              (deleteComment)="handleChange($event)"
              [comments]="post.comments"
            ></app-list-comment>
          </div>
      </div>
</div>
</div>
<!-- Modal UPDATE -->
<ng-template #contentEdit let-modal>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post Update</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="newpst-input">
            <form>
              <textarea
                rows="2"
                placeholder="Share some what you are thinking?"
                [(ngModel)]="postObj.description"
                name="description"
              ></textarea>
            </form>
          </div>
          <div class="modal-footer">
         
            <button
              (click)="updatePost()"
              type="button"
              class="btn btn-primary"
            >
              Update Post
            </button> 
            <button
            type="button"
            id="cancel"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Cancel
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Users that Like this POST
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group" *ngIf="postLikers?.length > 0">
        <div *ngFor="let liker of postLikers">
          <p>
            {{ liker?.name }}
            :
            {{ liker.email }}
          </p>
        </div>
      </div>
      <div class="form-group" *ngIf="postLikers?.length <= 0">
        <div *ngFor="let liker of postLikers">
          <p>there are no Likers</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      close
    </button>
  </div>
</ng-template>
