<div *ngIf="comments && comments.length == 0" class="col-lg-12 no-publications">
  <h6 class="text-center">No Comments <i></i>.</h6>
</div>
<div class="container mt-4" *ngIf="comments && comments.length > 0">
  <div class="d-flex px-2 mb-2" style="background-color: honeydew;" *ngFor="let comment of comments.slice(0, displayedItems)">
    <div class="comet-avatar">
      <img crossOrigin ="anonymous" alt="author" src="{{urlImage}}/{{comment?.author?.photo}}"> 
    </div>

    <div class="we-comment">
      <div class="more">
        <div class="more-post-optns">
          <i class="ti-more-alt"></i>
          <ul>
            <li>
              <i class="fa fa-trash"></i>
              <a (click)="onDelete(comment._id)" type="button" type="button">
                Delete Comment</a
              >
            </li>
            <li>
              <i class="fa fa-trash"></i>
              <a type="button" type="button">
                Edit Comment</a
              >
            </li>
          </ul>
        </div>
      </div>
      <h5>
        <a href="time-line.html" title="">{{ comment?.author?.name }}</a>
      </h5>
      <br />
      <div class="inline-itms">
        <input style="color: gray" class="inline-itms py-1" type="text" [value]="comment.text" [id]="comment._id" disabled>
        <span>{{ comment?.createdAt | date: 'yyyy-MM-dd HH:mm' }}</span>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button
      class="btn btn-primary btn-sm"
      *ngIf="displayedItems < comments.length"
      (click)="showMore()"
    >
      Show More
    </button>

    <button
      class="btn btn-secondary btn-sm"
      *ngIf="displayedItems > initialItems"
      (click)="showLess()"
    >
      Show Less
    </button>
  </div>
</div>
