.f-container {
  position: relative;
}
.input-style {
  width: 65%;
}
.ti-search {
  position: absolute;
  left: -170%;
  bottom: 3.5px;
}
.topbar {
  margin-bottom: 19px;
}

.greyiconcolor {
  color: #ededed;
}

.noir {
  color: black;
}
.size {
  font-size: 18px;
}
.radius {
  border-radius: 50%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 10px;
}

.logout-button {
  cursor: pointer;
  text-decoration: underline;
}
