<div class="central-meta" >
    <!-- *ngIf="user._id=="  -->
    <div class="about" >
        
        <div class="d-flex flex-row mt-2">
            <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left">
                <li class="nav-item">
                    <a href="#edit-profile" class="nav-link " data-toggle="tab"><i class="fa fa-pencil-square-o"></i>
                        Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#security" class="nav-link active" data-toggle="tab"><i class="fa fa-lock"></i>
                        Security</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="edit-profile">
                    <div class="set-title">
                        <h5>Edit Profile</h5>
                    </div>
                    <div class="stg-form-area">
                        <form [formGroup]="formValue" class="c-form">
                            <div>
                                <label>Name</label>
                                <input formControlName="name" type="text" placeholder="name">
                            </div>
                            <div>
                                <label>date birth</label>
                                <input formControlName="dateBirth" class="mb-2" type="date" placeholder="date of Birth" required>
                            </div>
                            <div>
                                <label>Gender</label>
                                <div class="form-radio">
                                    <div class="radio">
                                        <label>
                                            <input formControlName="gender" value="male" [checked]="user.gender=='male'" type="radio" name="gender"><i class="check-box"></i>Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input value="female" formControlName="gender" [checked]="user.gender=='female'" type="radio" name="gender"><i
                                                class="check-box"></i>female
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button (click)="updateUser()" data-ripple="">Save</button>
                            </div>
                        </form>
                    </div>
                </div><!-- edit profile -->
                <div class="tab-pane fade" id="security" role="tabpanel">
                    <div class="set-title">
                        <h5>Security Setting</h5>
                    </div>
                    <div class="stg-form-area">
                        <form class="c-form">
                            <div class="row merged10">
                                <div class="col-lg-7 col-md-9 col-sm-12">
                                    <input class="mb-2" type="password" placeholder="Password" required minlength="6">
                                </div>
                                <div class="col-lg-7 col-md-9 col-sm-12">
                                    <input class="mb-2" type="password" placeholder=" RetryPassword" required
                                        minlength="6">
                                </div>

                                <div class="col-lg-6 col-md-6 mt-2">
                                    <button type="submit">Valider</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div><!-- security -->

            </div>
        </div>
    </div>
</div>