<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row" id="page-contents">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-8 mt-2">
          <app-post-create (newPost)="handleChange($event)"></app-post-create>
          <app-loading-spinner [isLoading]="loading"></app-loading-spinner>
          <app-post-list *ngIf="!loading"
            (changePost)="handleChange($event)"
            [posts]="posts"
          ></app-post-list> 
          <app-pagination [pager]="pager" (pageChange)="setpage(pager.currentPage)"></app-pagination>
        </div>
        <div class="col-lg-4 mt-2">
          <aside class="sidebar static right">
            <div class="widget">
              <app-follows></app-follows>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
