<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row merged20" id="page-contents">
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-8">
          <app-post-create (newPost)="handleChange($event)"></app-post-create>
          <app-post-list
            (changePost)="handleChange($event)"
            [posts]="posts"
          ></app-post-list>
        </div>
        <div class="col-lg-4">
          <aside class="sidebar static right">
            <div class="widget">
              <app-follows></app-follows>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
